header .navbar .navbar-nav .nav-item .nav-link::after {
    left: auto !important;
    right: 20px !important;
}

header .navbar .navbar-nav .nav-item .nav-link.dropdown-link::after {
    right: 0 !important;
}

.breadcrumb-item+.breadcrumb-item {
    padding-right: 0.5rem !important;
    padding-left: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right !important;
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
}

header .navbar .navbar-nav .nav-item .submenu {
    left: auto !important;
    right: 0 !important;
}

.about-page .testimonial-section .quote-img {
    left: 0 !important;
    right: auto !important;
}

.testimonials-page .testimonial-section .quote-img {
    left: 0 !important;
    right: auto !important;
}

.home-page .testimonial-section .quote-img {
    left: 0 !important;
    right: auto !important;
}

.iti__flag-container {
    right: 0 !important;
    left: auto !important;
}

.phoneNumber {
    text-align: right;
    padding-right: 80px !important;
    padding-left: 6px !important;
}

.iti__country-list {
    top: 44px !important;
    left: auto !important;
    right: 0 !important;
}

.iti__country {
    text-align: right;
    display: flex;
}

.iti__flag-box,
.iti__country-name {
    margin-left: 6px;
    margin-right: 0 !important;
}

.ui-datepicker .ui-datepicker-next {
    left: -2px !important;
    right: auto !important;
}

.ui-datepicker .ui-datepicker-prev {
    left: auto !important;
    right: -2px !important;
}
